In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Automobile_data.csv")

In [3]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [4]:
df = data.drop(["aspiration","num-of-doors","wheel-base","length","curb-weight","num-of-cylinders","fuel-system","bore","stroke","compression-ratio","peak-rpm"], axis = 1, inplace = True)

In [5]:
data

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [6]:
# Replacing "?" sign from column "normalized-losses" with np.nan
data["normalized-losses"].replace("?",np.nan, inplace = True)

# coverting column "normalized losses" to float type
data["normalized-losses"] = data["normalized-losses"].astype(float)

# Taking mean of column "normalized-losses" 
losses_mean = data["normalized-losses"].mean()

# Replacing all np.nan with mean just calculated
data["normalized-losses"].fillna(losses_mean,inplace = True)

In [7]:
# Doing same operations as above on column "horsepower"

data["horsepower"].replace("?",np.nan, inplace = True)

data["horsepower"] = data["horsepower"].astype(float)

horsepower_mean = data["horsepower"].mean()

data["horsepower"].fillna(horsepower_mean,inplace = True)

In [8]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [9]:
data["price"].value_counts()

?        4
7775     2
7898     2
18150    2
8921     2
        ..
15998    1
17669    1
10795    1
34184    1
12290    1
Name: price, Length: 187, dtype: int64

In [10]:
# Doing same operations as above on column "price"

data["price"].replace("?",np.nan, inplace = True)

data["price"] = data["price"].astype(float)

price_mean = data["price"].mean()

data["price"].fillna(price_mean,inplace = True)

In [11]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [12]:
data_num = data.select_dtypes(["int64","float64","int32"])
data_cat = data.select_dtypes(["object"])

In [13]:
data_num.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,64.1,48.8,130,111.0,21,27,13495.0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500.0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500.0
3,2,164.0,66.2,54.3,109,102.0,24,30,13950.0
4,2,164.0,66.4,54.3,136,115.0,18,22,17450.0

In [14]:
data_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
for col in data_cat:
    le = LabelEncoder()
    data_cat[col] = le.fit_transform(data_cat[col])

C:\Users\DELL\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
data_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [18]:
data_new = pd.concat([data_cat,data_num],axis = 1)

In [19]:
data_new.head()

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,13495.0
1,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,16500.0
2,0,1,2,2,0,5,1,122.0,65.5,52.4,152,154.0,19,26,16500.0
3,1,1,3,1,0,3,2,164.0,66.2,54.3,109,102.0,24,30,13950.0
4,1,1,3,0,0,3,2,164.0,66.4,54.3,136,115.0,18,22,17450.0

## Baseline Model

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
X = data_new.drop("price",axis = 1)
y = data_new["price"]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [23]:
lin = LinearRegression()

lin.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
lin.score(X_test, y_test)

0.7875361466494448

In [25]:
lin.coef_

array([-1.90468510e+02, -9.76094161e+02, -2.57276711e+02,  1.73696237e+03,
        1.60611355e+04,  2.53555424e+02,  6.61610996e+01,  1.08790884e-01,
        8.04026538e+02,  3.68148230e+02,  9.76722827e+01, -1.15729342e+01,
        2.15004305e+02, -3.65404856e+02])

## Lasso (L1) & Ridge (L2) Rgularization

In [26]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [27]:
for i in range(50):
    l2 = Ridge(alpha = i)
    l2.fit(X_train, y_train)
    print(i,":",l2.score(X_test,y_test))

0 : 0.7875361466494459
1 : 0.7981012877810147
2 : 0.8016757159278609
3 : 0.8033912649254833
4 : 0.8043688747747944
5 : 0.8049784833479037
6 : 0.8053760280979319
7 : 0.8056389413104093
8 : 0.8058104284127557
9 : 0.8059167648050932
10 : 0.8059750068066344
11 : 0.8059967986375096
12 : 0.8059904109740483
13 : 0.805961906989603
14 : 0.8059158466418461
15 : 0.8058557318657851
16 : 0.8057842990143633
17 : 0.8057037173535592
18 : 0.8056157276346421
19 : 0.8055217412151643
20 : 0.8054229124771045
21 : 0.8053201927252294
22 : 0.8052143709612845
23 : 0.8051061051778503
24 : 0.8049959466859988
25 : 0.8048843592451607
26 : 0.80477173426091
27 : 0.8046584029709453
28 : 0.8045446462980357
29 : 0.8044307028771223
30 : 0.8043167756401226
31 : 0.8042030372516454
32 : 0.8040896346220231
33 : 0.8039766926741173
34 : 0.803864317502593
35 : 0.8037525990355243
36 : 0.8036416132860256
37 : 0.8035314242643511
38 : 0.8034220856074266
39 : 0.8033136419721353
40 : 0.8032061302302584
41 : 0.803099580496198
42 : 0.8029940170132258
43 : 0.8028894589195937
44 : 0.8027859209123007
45 : 0.8026834138233978
46 : 0.8025819451213365
47 : 0.8024815193478932
48 : 0.8023821384995853
49 : 0.8022838023611398

In [28]:
for i in range(200,500):
    l1 = Lasso(alpha = i)
    l1.fit(X_train, y_train)
    print(i,":",l1.score(X_test,y_test))

200 : 0.8035400678329621
201 : 0.8035436084668162
202 : 0.8035464186902408
203 : 0.8035484974445002
204 : 0.8035497711629634
205 : 0.8035502778905033
206 : 0.8035500174466153
207 : 0.8035489905058871
208 : 0.8035471970683195
209 : 0.8035446371339117
210 : 0.8035413107026642
211 : 0.8035372177745769
212 : 0.8035323583496496
213 : 0.8035267324278828
214 : 0.8035203400092756
215 : 0.8035131810938289
216 : 0.8035052220046542
217 : 0.8034964872966289
218 : 0.8034869859372875
219 : 0.8034767179266306
220 : 0.8034657544964476
221 : 0.8034540284440662
222 : 0.8034415360740239
223 : 0.8034282773863207
224 : 0.8034142523809576
225 : 0.8033994610579338
226 : 0.8033823370547092
227 : 0.8033415832392397
228 : 0.8032758712723419
229 : 0.803209718974961
230 : 0.8031431280067155
231 : 0.8030760652976621
232 : 0.8030085720796426
233 : 0.8029406089057138
234 : 0.8028722158603679
235 : 0.802800670039616
236 : 0.8027313591316162
237 : 0.8026616530356303
238 : 0.8025915352885142
239 : 0.8025209871599314
240 : 0.8024500086498823
241 : 0.8023785997583668
242 : 0.8023067604853851
243 : 0.802234475301743
244 : 0.8021617522709636
245 : 0.8020885921196731
246 : 0.8020150006675542
247 : 0.8019409786566664
248 : 0.8018665260870093
249 : 0.8017947165732263
250 : 0.8017194199312615
251 : 0.801643693286709
252 : 0.8015683157398852
253 : 0.80149811834491
254 : 0.8014310583709506
255 : 0.8013601218553562
256 : 0.8012887885056974
257 : 0.8012170659935658
258 : 0.8011449545239417
259 : 0.80107244869124
260 : 0.8009995484954607
261 : 0.8009262539366037
262 : 0.8008554178419339
263 : 0.8007813646976696
264 : 0.8007069173377126
265 : 0.800632075762064
266 : 0.8005568428374304
267 : 0.8004812217643643
268 : 0.8004052086103881
269 : 0.8003288022335424
270 : 0.8002520017061718
271 : 0.8001748070282765
272 : 0.8000972163016621
273 : 0.8000192291266696
274 : 0.79994084626863
275 : 0.7998620707261477
276 : 0.7997829010304738
277 : 0.7997033371816082
278 : 0.7996256972282935
279 : 0.7995453610672802
280 : 0.7994646308187856
281 : 0.7993835066088404
282 : 0.7993019898763576
283 : 0.799220077555689
284 : 0.7991377574281089
285 : 0.799055043152885
286 : 0.7989719347300168
287 : 0.7988884321595048
288 : 0.7988045354413488
289 : 0.7987202445755485
290 : 0.7986355595621043
291 : 0.798550492594851
292 : 0.7984650362648212
293 : 0.798379185863495
294 : 0.7982929413908717
295 : 0.798206302846951
296 : 0.798119270231734
297 : 0.7980318435452195
298 : 0.7979440227874084
299 : 0.7978558053540749
300 : 0.7977671937965365
301 : 0.797678188161474
302 : 0.7975887884488876
303 : 0.7975008706527724
304 : 0.7974106924095268
305 : 0.7973201125203765
306 : 0.7972291287692579
307 : 0.7971377508929994
308 : 0.7970459788916011
309 : 0.7969538127650632
310 : 0.7968612525133847
311 : 0.796768298136567
312 : 0.7966749496346094
313 : 0.7965812070075116
314 : 0.7964870689398906
315 : 0.7963925366984378
316 : 0.7962976103269461
317 : 0.7962022898254152
318 : 0.7961065751938455
319 : 0.7960104664322367
320 : 0.795913963540589
321 : 0.7958170665189024
322 : 0.7957197753671765
323 : 0.7956220900854118
324 : 0.7955240106736079
325 : 0.7954255371317652
326 : 0.7953266694598833
327 : 0.7952274072153264
328 : 0.7951277363461897
329 : 0.7950276763506957
330 : 0.7949272251545799
331 : 0.7948263795887375
332 : 0.79472515900715
333 : 0.7946235446682841
334 : 0.7945215362523856
335 : 0.7944191337767739
336 : 0.7943163372596078
337 : 0.7942131466656394
338 : 0.7941095619948684
339 : 0.794005583247295
340 : 0.7939012104229191
341 : 0.7937964441511911
342 : 0.7936912838870237
343 : 0.7935857295493408
344 : 0.7934797811381429
345 : 0.7933734386534296
346 : 0.7932684220071767
347 : 0.7931612995865838
348 : 0.7930537831122562
349 : 0.792945872584194
350 : 0.7928375680023975
351 : 0.7927288693668659
352 : 0.7926197766776004
353 : 0.7925102899346004
354 : 0.7924004091378658
355 : 0.7922901342873966
356 : 0.792179465383193
357 : 0.7920684024252549
358 : 0.7919569455620067
359 : 0.7918450955121594
360 : 0.7917328514143325
361 : 0.7916202132685257
362 : 0.7915071809745784
363 : 0.7913937557688988
364 : 0.7912799365208524
365 : 0.7911657232304387
366 : 0.7910511158976582
367 : 0.790936111547502
368 : 0.7908207121565738
369 : 0.7907049187070879
370 : 0.7905887311990436
371 : 0.7904721496324418
372 : 0.7903551740072818
373 : 0.7902378043235636
374 : 0.7901200416308384
375 : 0.790001885817198
376 : 0.7898833359545455
377 : 0.7897643920428805
378 : 0.7896450540822032
379 : 0.7895253220725135
380 : 0.7894051958435202
381 : 0.7892846755113686
382 : 0.7891637611292375
383 : 0.7890424526971271
384 : 0.7889207502150378
385 : 0.7887986545179754
386 : 0.7886761673562529
387 : 0.7885532861600392
388 : 0.788430010929334
389 : 0.7883063416641378
390 : 0.7881822788492407
391 : 0.7880578225380881
392 : 0.7879329772476973
393 : 0.7878077379483092
394 : 0.7876821046399236
395 : 0.7875997633266986
396 : 0.7875704873992511
397 : 0.7875410858545893
398 : 0.7875115487529065
399 : 0.7874818741578141
400 : 0.787452062069312
401 : 0.7874221124873996
402 : 0.7873920254843126
403 : 0.7873618019713367
404 : 0.7873314409675285
405 : 0.7873009424728882
406 : 0.787270306487416
407 : 0.7872395331853753
408 : 0.7872086231620932
409 : 0.7871775754312459
410 : 0.7871463902113226
411 : 0.7871150675023236
412 : 0.7870836073042481
413 : 0.7870520096170969
414 : 0.7870202744408694
415 : 0.7869884025399607
416 : 0.7869563938107791
417 : 0.7869242477514469
418 : 0.786891964206861
419 : 0.7868595431770217
420 : 0.7868269846619285
421 : 0.7867942886615817
422 : 0.7867614551759812
423 : 0.7867284842051271
424 : 0.7866953757490197
425 : 0.7866621298076586
426 : 0.7866287467434835
427 : 0.7865952263812039
428 : 0.7865615685350509
429 : 0.7865277747177324
430 : 0.7864938442405496
431 : 0.7864597760349562
432 : 0.7864255702604559
433 : 0.7863912270068933
434 : 0.7863567462742684
435 : 0.7863221297920017
436 : 0.7862873762260705
437 : 0.7862524851861061
438 : 0.7862174566938166
439 : 0.7861823072153353
440 : 0.7861470959830169
441 : 0.7861118780625096
442 : 0.7860782306996164
443 : 0.786052739577566
444 : 0.7860271285062026
445 : 0.786001397995607
446 : 0.7859755479921051
447 : 0.7859495780416078
448 : 0.7859234885002636
449 : 0.7858972799397834
450 : 0.7858709514353401
451 : 0.7858445041644156
452 : 0.7858179214268328
453 : 0.7858090441482334
454 : 0.7858038958816855
455 : 0.7857987421200522
456 : 0.7857935782237628
457 : 0.7857884041928165
458 : 0.7857832200272139
459 : 0.785778025726955
460 : 0.7857728212920397
461 : 0.7857676067224679
462 : 0.78576238201824
463 : 0.7857571471793552
464 : 0.7857519022058145
465 : 0.785746647097617
466 : 0.7857413818547632
467 : 0.785736106477253
468 : 0.7857308209650864
469 : 0.7857255253342698
470 : 0.7857202202028709
471 : 0.7857149049371301
472 : 0.7857095793900847
473 : 0.7857042436931255
474 : 0.7856988978617503
475 : 0.7856935418959586
476 : 0.7856881757957503
477 : 0.7856827995611256
478 : 0.7856774131920846
479 : 0.7856720166886271
480 : 0.7856666100507531
481 : 0.7856611932784626
482 : 0.7856557663717558
483 : 0.7856503293306324
484 : 0.7856448821550928
485 : 0.7856394248451366
486 : 0.7856339575332928
487 : 0.7856284804243708
488 : 0.7856229934439538
489 : 0.7856174963294503
490 : 0.7856119890808597
491 : 0.7856064716981825
492 : 0.7856009441814183
493 : 0.7855954065305677
494 : 0.7855898587456301
495 : 0.7855843008266058
496 : 0.7855787327734947
497 : 0.7855718673823018
498 : 0.7855662803635295
499 : 0.7855606832113776

In [29]:
l2 = Ridge(alpha = 11)
l2.fit(X_train, y_train)
print(l2.score(X_test, y_test))

0.8059967986375096

In [30]:
l2.coef_

array([-1.75832379e+02, -9.99948772e+02, -6.89829538e+02,  1.45676176e+03,
        2.33786631e+03,  4.80345394e+02,  2.33433006e+02, -2.03612707e+00,
        3.94123170e+02,  5.75452390e+02,  1.04296846e+02,  2.06673902e+01,
        1.31053817e+02, -2.28194584e+02])

In [31]:
l1 = Lasso(alpha = 212)
l1.fit(X_train, y_train)
print(l1.score(X_test, y_test))

0.8035323583496496

In [32]:
l1.coef_

array([-1.56166692e+02, -0.00000000e+00, -4.96117523e+02,  9.70365424e+02,
        1.04332524e+03,  2.79881536e+02,  2.97619631e+01,  9.96454509e-01,
        3.28545400e+02,  4.86247919e+02,  1.15357074e+02,  1.62709281e+01,
        0.00000000e+00, -1.11008970e+02])

## K-fold Cross Validation

In [33]:
from sklearn.model_selection import cross_val_score

In [34]:
l1_cross = cross_val_score(l1,X,y,cv = 4)
print(l1_cross)

[0.81527361 0.81973611 0.45385532 0.4386946 ]

In [35]:
np.mean(l1_cross)

0.6318899090861153

In [36]:
l2_cross = cross_val_score(l2,X,y,cv = 4)
print(l2_cross)

[0.78928994 0.86367612 0.43404183 0.44572381]

In [37]:
np.mean(l2_cross)

0.6331829256162267